<!DOCTYPE html>
<html>
<head>
  <title>K2test</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta property="og:title" content="Kollection.me" />
<meta property="og:type" content="company" />
<meta property="og:site_name" content="Kollection.me" />
<meta property="og:url" content="afternoon-tundra-9174.herokuapp.com/" />
<meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/BFTOUKOY_1361082833825.jpg?_=0" />
</head>
<body>

<%= yield %>

</body>
</html>
